{% extends "auth_base.html" %}

{% block content %}

<div class="figma-label">Forgot Password</div>

<div class="auth-container">

    <div class="auth-left">
        <div class="brand">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
            <span>pluma</span>
        </div>

        <img class="auth-illustration forgot-img"
             src="{{ url_for('static', filename='images/forgot.png') }}"
             alt="forgot password">

        <div class="welcome-text">
            <h2>Reset your password</h2>
            <p>Enter your email to receive a reset link</p>
        </div>
    </div>

    <div class="auth-right">
        <h1>Forgot Password</h1>
        <p class="subtitle">We’ll send you a link to reset your password</p>

        <!-- Formulaire pour saisir l'email -->
        <form method="POST" action="{{ url_for('auth.forgot_password') }}">

            <label>Email Address</label>
            <div class="input-box">
                <span><i class="bi bi-envelope"></i></span>
                <input type="email" name="email" placeholder="example@email.com" required>
            </div>

            <button type="submit" class="auth-btn">Send Reset Link</button>

            <p class="bottom-link">
                Remember your password?
                <a href="{{ url_for('auth.login') }}">Login Here</a>
            </p>
        </form>
    </div>

</div>

{% endblock %}