<div class="navbar">

    <!-- Logo -->

    <div class="navbar-logo">

        <img src="{{ url_for('static', filename='images/logop.png') }}"
             alt="Pluma">

        <span>pluma</span>

    </div>


    <!-- Partie droite -->

    <div class="navbar-right">

        <div class="nav-icon">
            <i class="bi bi-search"></i>
        </div>


        <div class="nav-icon notification">

            <i class="bi bi-bell"></i>

            <span class="badge">2</span>

        </div>


        <button class="wallet-btn">

            <i class="bi bi-wallet2"></i>

            Wallet

        </button>


        <img class="profile-img"
        src="{{ url_for('static', filename='images/profile.png') }}"
        alt="profile">

    </div>

</div>