<div class="container">

    <aside class="sidebar">


        <div class="logo">

            PLUMA
            
        </div>

        <ul class="menu">
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Transactions</a></li>
            <li><a href="#">Budgets</a></li>
            <li><a href="#">Goals</a></li>
            <li><a href="#">Settings</a></li>
            <li><a href="#">Account</a></li>
            <li><a href="#">Log out</a></li>
        </ul>


    </aside>